<div class="footer">
  <div class="container img">
    <img src="assets/images/logo_small.png" style="width: 70%">
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h6> contact us </h6>
        <p><img class="contacto" src="assets/images/iconos/whatsapp.png">   +54 7465837643</p>
        <p><img class="contacto" src="assets/images/iconos/gmail.png">   sandovalucas88@gmail.com</p>
        <p><img class="contacto" src="assets/images/iconos/linkedin.png">   linkedin.com/in/lucas-sandoval</p>
      </div>
<!--      <div class="col">
        <h6> contact us </h6>
        <p></p>
        <p></p>
        <p></p>
      </div>
      <div class="col">
        <h6> contact us </h6>
        <p></p>
        <p></p>
        <p></p>
      </div> -->
    </div>
  </div>
</div>

