
  <div class="container">
    <div class="row">
      <div class="col card" style="width: 18rem;">
          <img src="assets/images/pizzas/pizza-de-fugazzeta.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fugazzeta</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/buy" class="btn btn-primary"><img src="assets/images/comprar.png" alt=""> Comprar</a>
          </div>
        </div>
        <div class="col card" style="width: 18rem;">
          <img src="assets/images/pizzas/pizza-de-muzzarella.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Muzzarella</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary"><img src="assets/images/comprar.png" alt=""> Comprar</a>
          </div>
        </div>
        <div class="col card" style="width: 18rem;">
          <img src="assets/images/pizzas/pizza-de-napolitana.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Napolitana</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary"><img src="assets/images/comprar.png" alt=""> Comprar</a>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col card" style="width: 18rem;">
          <img src="assets/images/empanadas/empanadas-de-carne.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Empanadas de carne</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary"><img src="assets/images/comprar.png" alt=""> Comprar</a>
          </div>
        </div>
        <div class="col card" style="width: 18rem;">
          <img src="assets/images/empanadas/empanadas-de-jamonyqueso.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Empanadas JyQ</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary"><img src="assets/images/comprar.png" alt=""> Comprar</a>
          </div>
        </div>
        <div class="col card" style="width: 18rem;">
          <img src="assets/images/empanadas/empanadas-de-pollo.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Empanadas Pollo</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary"><img src="assets/images/comprar.png" alt=""> Comprar</a>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col card" style="width: 18rem;">
          <img src="assets/images/hamburguesas/hamburguesa-con-papas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hamburguesas con papas</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary"><img src="assets/images/comprar.png" alt=""> Comprar</a>
          </div>
        </div>
        <div class="col card" style="width: 18rem;">
          <img src="assets/images/hamburguesas/sanguche-de-milanesa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sanguche de milanesa</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary"><img src="assets/images/comprar.png" alt=""> Comprar</a>
          </div>
        </div>
        <div class="col card" style="width: 18rem;">
          <img src="assets/images/hamburguesas/tarta-de-jamonyqueso.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tarta JyQ</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary"><img src="assets/images/comprar.png" alt=""> Comprar</a>
          </div>
        </div>
    </div>
</div>
