.nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  background-image: url("../../../../assets/images/nosotros.jpeg");
  background-size: 100% ;
  background-size: cover;
}
h3 {
  font-family: "Roboto Light";
  font-size: 6em;
}
.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
img {
  width: 30vw;
}
p {
  font-family: Arial;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
