<div>
  <div class="nosotros">
    <h3>Nosotros</h3>
  </div>
  <div class="container contenido">
    <div class="container">
      <img src="../../../../assets/images/pizzeria-edificio.jpg">
    </div>
    <div class="container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium pharetra felis non euismod.
        Pellentesque ac urna posuere, tristique felis sit amet, dictum leo. Praesent quis lectus id mi sollicitudin
        gravida ac vitae eros. Mauris sit amet vestibulum elit. Quisque vestibulum ligula sit amet fringilla
        ultrices. Nunc pulvinar massa a velit ullamcorper, eget iaculis orci facilisis. Nunc a scelerisque justo.
        Donec et finibus purus, at semper tortor. Nunc id accumsan ante. Etiam mauris diam, tempor nec metus ac,
        sagittis egestas velit. Maecenas eget neque at eros malesuada porta. Ut consectetur nisi ut convallis finibus.
        Nullam vulputate tempus quam, at viverra libero aliquet sed. Sed sagittis felis a sapien tristique, a
        commodo sem iaculis. Vivamus molestie, nulla tristique imperdiet varius, nisi leo lacinia arcu, ut
        ullamcorper sem lectus eu velit.</p>
    </div>
  </div>
</div>
